<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1 style="text-align:center;">Connexion</h1><br>
      <div class="container mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
           <form [formGroup]="signin">
              <p>
            <mat-form-field appearance="fill">
                <mat-label>Login  <span class="password-icon1">
    <mat-icon aria-hidden="false">login </mat-icon>
  </span></mat-label>
                <input matInput placeholder="login" formControlName="email"  style="width: 100px;" (change)="reset()">
               
                <mat-hint>enter email</mat-hint>
            </mat-form-field>
            </p>
            
            
            <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required  style="width: 100px;" (change)="reset()">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               <mat-hint *ngIf="passwordInput?.value">Enter your password</mat-hint>
                    
            </mat-form-field>
             
            <div class="text-err" *ngIf="erreur==true">
              <p>Login et/ou mot de passe incorrect</p>
            </div>
              <div class="text-center">
                 <button mat-button color="primary" (click)=connected()>Connexion</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

