<div class="container">
  <mat-card class="shadow mb-2">
    <mat-card-content>
      <h1 style="text-align:center;">Dashboard</h1><br>
      <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
        <img src="../../assets/img/dashboard.png" height="500" width="500">
         </div>
        <!-- Big Card Column -->
        <div class="col-md-6">
          <mat-card class="card-stats custom-bg-color">
<div class="container">
<div class="card shadow mb-2"> 
<div class="card-body">

<h1 style="text-align:center;">Dashboard</h1><br>




<div class="row">
<div class="col-md-3">
 <div class="card card-stats text-white custom-bg-color">
 <div class="card-body ">
 <div class="row">
 <div class="col-5">
 <div class="icon-big text-center">
 <img src="../../assets/img/student.png" class="card-img-top" height="50" width="50">
 </div>
 </div>
 <div class="col-7 d-flex align-items-center">
 <div class="numbers">
 <p class="card-category">Etudiants</p>
 <h4 class="card-title">{{ nbEtu }}</h4>
 </div>
 </div>
 </div>
 </div>
 </div>
</div>












<div class="col-md-3">
 <div class="card card-stats text-white custom-bg-color4">
 <div class="card-body ">
 <div class="row">
 <div class="col-5">
 <div class="icon-big text-center">
 <img src="../../assets/img/group.jpg" class="card-img-top" height="50" width="50">
 </div>
 </div>
 <div class="col-7 d-flex align-items-center">
 <div class="numbers">
 <p class="card-category">Groupes</p>
 <h4 class="card-title">{{nbGrp}}</h4>
 </div>
 </div>
 </div>
 </div>
 </div>
</div>








<div class="col-md-3">
<div class="card card-stats text-white custom-bg-color3">
 <div class="card-body ">
 <div class="row">
 <div class="col-5">
 <div class="icon-big text-center">
 <img src="../../assets/img/avg.jpg" class="card-img-top" height="50" width="50">
 </div>
 </div>
 <div class="col-7 d-flex align-items-center">
 <div class="numbers">
 <p class="card-category">Moyenne</p>
 <h4 class="card-title">{{avgMoy}}</h4>
 </div>
 </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

  </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

